:root {
	--font-family: "Futura", Arial, sans-serif;
	--font-size: 16px;
	--text-color: #333;
	--bg-color: #fff;
	--border-color: #ddd;
	--border-radius: 0.5rem;
	--focus-color: #007bff;
	--focus-shadow-color: rgba(0, 123, 255, 0.25);

	--primary-color: #250524;
	--primary-color-light: #4a0a48;
	--primary-color-dark: #120212;
	--secondary-color: #666;
	--success-color: #4caf50;

	--card-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--text-color);
	background-color: var(--bg-color);
	margin: 0;
	padding: 0;
}
